@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-B.ttf') format('woff2'),
         url('../fonts/Ubuntu-B.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu-M.ttf') format('woff2'),
         url('../fonts/Ubuntu-M.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-R.ttf') format('woff2'),
         url('../fonts/Ubuntu-R.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}